body { overflow-x: hidden; overflow-y: auto;}

#map { height: 598px; width: 1360px; margin-top: 35px;}

.left-sidebar{
	padding: 10px;
	width: 270px;
	height: 1000px;
	background: #FFFFFF;
	border-right: 0px solid gray;
	position: fixed;
	z-index: 100;
	box-shadow: 0 0px 5px 2px rgba(160, 160, 160, 0.8);
z-index: 50;
line-height: 40px;
}

/*setting untuk scroll */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    background: white;   
    opacity: 0.8;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   
    
    background: white; 
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
}


