<!DOCTYPE HTML>
<html lang="id">
<head>
	<title>About | Banda Aceh Maps</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- for index -->
	<meta name="description" content="Maps for Aceh area, everything we can found there, and orientate to people what want to visit" />
	<meta name="author" content="Muhammad Firdaus, fird0s">
	<meta name="keywords" content="Aceh Maps, Maps Aceh, Aceh, Aceh Location">
	
	
	<!-- Leflet config -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     		<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
 	<![endif]-->
 	
 	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

        <!--End Leaflet config-->
    	
    	<!--FONT AWESOME/ICON SETTING -->
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    
	
	
</head>
<body>

<!--HEADER-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">BANDA MAPS</a>
      <form method="GET" action="{{ url_for("search") }}"class="navbar-form pull-left">
        <input type="text" name="search" class="span6" placeholder="cari lokasi">
        <button class="btn btn-success" type="submit">
         <i class="icon-search icon-white"></i>
        </button>
      </form>
    <ul class="nav" style="margin-left: 10px;">
      <li><a href="{{ url_for('index') }}"><b><u>Home</u></b></a></li>	
      <li class="active"><a href="{{ url_for('about') }}"><b><u>About</u></b></a></li>
      <li><a href="{{ url_for('account') }}"><b><u>Account</u></b></a></li>
    </ul>
   </div> 
  </div>
</div>
<!--END HEADER-->

<!--START CONTENT -->
<body>
<div id="wrap">
      <!-- Begin page content -->
      <div class="container"><br><br><br>
        
          <h1>Apa Ini?</h1><hr>
        
        <p class="lead">Sebuah Website yang memberikan sarana untuk pemetaan terhadap suatu wilayah, setiap orang
        dapat mengatur suatu lokasi, tempat dan area lain-lain, memiliki manajemen user yang sangat mudah digunakan oleh setiap orang pada semua kalangan, menambah wilayah, area, titik alamat, dan lain - lain dengan hanya mengisi beberapa konten yang bersangkutan dengan titik.</p>

        <p class="lead">Setiap titik memiliki icon masing-masing, sehingga sangat ramah tampilan, sebuah titik dapat 
        di klik dan kemudian muncul tentang titik tersebut, setiap orang yang terdaftar sebagai User dapat dengan mudah mengubah segala sesuatu yang bersangkutan dengan titik.</p>
        <!--<p>Use <a href="./sticky-footer-navbar.html">the sticky footer</a> with a fixed navbar if need be, too.</p>-->
         <div class="page-header"><br><br>
          <h1>Kontak</h1>
        </div> 
        <p class="lead">Jika Anda memiliki saran, kritikan, pertanyaan, menemukan masalah atau yang lain, silahkan hubungi :</p>
        
         <h4><li>Muhammad Firdaus</li></h4>
         	<p class="text-info icon-envelope"> <a href="mailto:firdauskoder@gmail.com">firdauskoder@gmail.com</a></p>
         	<p class="text-info icon-twitter"> <a href="https://twitter.com/fird0s">@fird0s</a></p>
      </div>

      <div id="push"></div>
    </div>
<hr>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Developed by <a href="http://firdaus.jones.dk/">firdaus</a></p>
      </div>
    </div>
</body>
</html>
