<!DOCTYPE HTML>
<html lang="id">
<head>
	<title>History | Aceh Maps</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- for index -->
	<meta name="description" content="Maps for Aceh area, everything we can found there, and orientate to people what want to visit" />
	<meta name="author" content="Muhammad Firdaus, fird0s">
	<meta name="keywords" content="Aceh Maps, Maps Aceh, Aceh, Aceh Location">
	
	
	<!-- Leflet config -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     		<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
 	<![endif]-->

	 	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        <!--End Leaflet config-->
    	<!--FONT AWESOME/ICON SETTING -->
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
	
</head>
<body>

<!--HEADER-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">BANDA MAPS</a>
      <form method="GET" action="{{ url_for("search") }}"class="navbar-form pull-left">
        <input type="text" name="search" class="span6" placeholder="cari lokasi">
        <button class="btn btn-success" type="submit">
         <i class="icon-search icon-white"></i>
        </button>
      </form>
    <ul class="nav" style="margin-left: 10px;">
      <li><a href="{{ url_for('index') }}"><b><u>Home</u></b></a></li>	
      <li><a href="{{ url_for('about') }}"><b><u>About</u></b></a></li>
      <li class="active"><a href="{{ url_for('account') }}"><b><u>Account</u></b></a></li>
    </ul>
   </div> 
  </div>
</div>
<!--END HEADER-->

<!--START CONTENT -->
<body>
<div id="wrap"><br><br>
    
      <div class="container">
  		<div class="row"><br><br>
		 	<div class="span3">
		 		<div class="well" style="max-width: 340px; padding: 13px 0;">
		 		<ul class="nav nav-list">
				
					<li class="nav-header">Manage Account</li>
					<li><a href="{{ url_for('register')}}"><i class="icon-user"></i>Sing Up</a></li>
					<li><a href="{{ url_for('singin')}}"><i class="icon-share-alt"></i>Sing In</a></li>
					
				  
				</ul><br>
				
				<ul class="nav nav-list">
					<li class="divider"></li>
					<li class="nav-header">Maps</li>
					<li><a href="{{ url_for('add_point')}}"><i class="icon-map-marker"></i> Add Point</a></li>
					<li><a href="index"><i class="icon-tags"></i> Make Direction</a></li>
					<li class="active"><a href="{{ url_for('history')}}"><i class="icon-home"></i> History</a></li>
					
				  
				</ul><br>
				
					
				<ul class="nav nav-list">
					<li class="divider"></li>
					<li class="nav-header">Help</li>
					<li><a href="index"><i class="icon-lightbulb"></i>Help Centre</a></li>
					<li><a href="index"><i class="icon-th-list"></i>Documentation</a></li>
				  
				</ul>
				
				</div>
		 	</div>
		 	
		 	<div class="span8">
		 		<ul class="breadcrumb">
 			        	<li><a href="{{ url_for('index')}}">Home</a> <span class="divider">/</span></li>
	  					<li><a href="{{ url_for('add_point')}}">Maps</a> <span class="divider">/</span></li>
	  					<li class="active">Histories</li>
				</ul>
		 		<div class="control-group">
		 			<div class="well" style="padding: 15px;">
		 				<table class="table table-condensed table-hover">
					      <thead>
					        <tr>
					          <th>#</th>
					          <th><i class="icon-pencil"> TITLE</i></li></th>
					          <th><i class="icon-calendar"> DATE</i></li></th>
					          <th><i class="icon-user"> ADDER</i></li></th>
					        </tr>
					      </thead>
					      <tbody>
					      {% for all_markers in all_markers %}
					        <tr>
					          <td><a href="/view_point/{{ all_markers.id }}">#{{ all_markers.id }}</a></td>
					          <td title="{{ all_markers.Description  }}">{{ all_markers.Title | title | truncate  }}</td>
					          <td>{{ all_markers.Last }}</td>
					          <td><a href="/user/{{ all_markers.Adder }}" target="blank">{{ all_markers.Adder }}</a></td>
					        </tr>	
					      {% endfor %}
					    </table> 
		 			</div>
				</div>
		 	</div>
		</div>

      </div>
<hr>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Developed by <a href="http://firdaus.jones.dk/">firdaus</a></p>
      </div>
    </div>

</body>
</html>
