<!DOCTYPE HTML>
<html lang="id">
<head>
 	<title>Aceh Maps</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
	
	<!-- for index -->
	<meta name="description" content="Maps for Aceh area, everything we can found there, and orientate to people what want to visit" />
	<meta name="author" content="Muhammad Firdaus, fird0s">
	<meta name="keywords" content="Aceh Maps, Maps Aceh, Aceh, Aceh Location">
	
	<!-- Leflet config -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     		<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
 	<![endif]-->
 	
 	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

        <!--End Leaflet config-->
    	
    	<!--FONT AWESOME/ICON SETTING -->
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css')}}" />
    	<script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js')}}"></script>
    	
</head>
<body>

<!--HEADER-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
   <div class="container">
    <a class="brand" href="/">BANDA MAPS </a>
      <form method="GET" action="{{ url_for("search") }}"class="navbar-form pull-left">
        <input type="text" name="search" class="span6" placeholder="cari lokasi">
        <button class="btn btn-success" type="submit">
         <i class="icon-search icon-white"></i>
        </button>
      </form>
    <ul class="nav" style="margin-left: 10px;">
      <li class="active"><a href="{{ url_for('index') }}"><b><u>Home</u></b></a></li>	
      <li><a href="{{ url_for('about') }}"><b><u>About</u></b></a></li>
      <li><a href="{{ url_for('account') }}"><b><u>Account</u></b></a></li>
    </ul>
   </div>  
  </div>
</div>

<!--MAPS -->
{% block content %}
<div id="map"></div>     
{% endblock %}


<script type="text/javascript">
  
var map = L.map('map').setView([5.4902, 95.4073], 12); // make map in Banda Aceh
  
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
    {
    maxZoom: 20,
    zoomControl: true,
    attribution: false
    }).addTo(map); // Tile layer


var popup = L.popup();
function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);  

// ALL MARKERS 

{% for data_all_marker in data_all_marker %}

  {% if data_all_marker.Icon_Set == "Uncategorized" %}  
  var marker =  L.marker([{{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}]).addTo(map)
      .bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>");
  {% endif %}

  {% if data_all_marker.Icon_Set == "Toilet" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'github', color: 'blue', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

   {% if data_all_marker.Icon_Set == "Field" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'map', color: 'green', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Park" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'map', color: 'green', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Store" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'shopping-cart', color: 'orange', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Home" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'home', color: 'blue', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><br><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>");  
    {% endif %}

    {% if data_all_marker.Icon_Set == "Canteen" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'food', color: 'violet', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Building" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'building', color: 'blue', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Airport" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'plane', color: 'blue', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Terminal" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'truck', color: 'darkpurple', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Coffe Shop" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'coffee', color: 'red', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

    {% if data_all_marker.Icon_Set == "Restaurant" %}  
    var marker = L.marker([ {{ data_all_marker.Latitude }}, {{ data_all_marker.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'food', color: 'red', spin:false}) }).addTo(map);
marker.bindPopup("<b>{{ data_all_marker.Title }}</b><br> {{ data_all_marker.Description }} <a href='/view_point/{{ data_all_marker.id}}'>More info</a><img class='Img_Bg' src='/static/uploads/images_markers/{{data_all_marker.Image_Upload1}}'></img>"); 
    {% endif %}

{% endfor %}

</script>

<!--LEAFLET CONFIG -->
<script type="text/javascript"
      		src="{{ url_for('static', filename='js/leaflet-config.js')}}">
</script>




</body>
</html>
