<!DOCTYPE HTML>
<html lang="id">
<head>
 	<title>{{ marker_view.Title }} | Banda Maps</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
	
	<!-- for index -->
	<meta name="description" content="Maps for Banda Aceh, everything we can found there, and orientate to people what want to visit" />
	<meta name="author" content="{{ marker_view.Adder }}, fird0s">
	<meta name="keywords" content="{{ marker_view.Title }}, Banda Maps">
	
	<!-- Leflet config -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     		<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
 	<![endif]-->
 	
 	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

        <!--End Leaflet config-->
    	
    	<!--FONT AWESOME/ICON SETTING -->
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css')}}" />
    	<script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js')}}"></script>
    	
</head>
<body>
<!--HEADER-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">BANDA MAPS</a>
      <form method="GET" action="{{ url_for("search") }}"class="navbar-form pull-left">
        <input type="text" name="search" class="span6" placeholder="cari lokasi">
        <button class="btn btn-success" type="submit">
         <i class="icon-search icon-white"></i>
        </button>
      </form>
    <ul class="nav" style="margin-left: 10px;">
      <li><a href="{{ url_for('index') }}"><b><u>Home</u></b></a></li>	
      <li><a href="{{ url_for('about') }}"><b><u>About</u></b></a></li>
      <li><a href="{{ url_for('account') }}"><b><u>Account</u></b></a></li>
    </ul>
   </div> 
  </div>
</div>
<!--END HEADER-->

<!--START CONTENT -->
<div id="wrap"><br><br>

        <div class="container"><br>
		 	<div class="span11" style="padding: 10px;">
				<ul class="breadcrumb">
	 			        	<li><a href="{{ url_for('index')}}">Home</a> <span class="divider">/</span></li>
		  					<li><a href="{{ url_for('account')}}">View Point</a> <span class="divider">/</span></li>
		  					<li class="active">#{{marker_view.id }}</li>
				</ul>
		 
				<div class="well" style="padding: 20px;">
					<div class="container">
						<div classs="row">
						  	<div class="span3">
								{% if marker_view.Image_Upload1 == "no-image-icon" %}	
								
								<img src="{{ url_for('static', filename='uploads/images_markers')}}/no-image-icon.jpg"  style="width: 350px; height: 200px;" class="img-polaroid">
								
								{% else %}

								<img src="{{ url_for('static', filename='uploads/images_markers')}}/{{ marker_view.Image_Upload1 }}"  style="width: 350px; height: 200px;" class="img-polaroid">
								{% endif %}
							</div>

							<div class="span4">
								<h3>{{ marker_view.Title }}</h3>
								<address>
									<strong>Location : </strong>{{ marker_view.Location }}<br>
									 <strong> Latitude : </strong>  {{ marker_view.Latitude}}<br>
									 <strong> Longtitude : </strong> {{ marker_view.Longtitude }}<br><br>
									 <a class="btn btn-primary" target="blank" href="/edit_point/route/{{ marker_view.id }}">Edit</a>
									 <a class="btn" href="#">Report</a>
								</address>
							</div>				
						</div>
						<br>
						<div class="row">
							<div class="span9" style="margin-left: 50px;"><hr>
								<div class="row">
									<div class="span2">
										<p class="lead"><u>Author :</u></p>
										<p><strong>{{ marker_view.Adder }}</strong></p>
										<p class="muted"><b>Snipp created on :</b> <br>
										{{ marker_view.Last }}
									</div>
									<div class="span4">
										<p class="lead"><u>Description :</u> </p>
										<p><div>{{ marker_view.Description }}</div><div><br></div></p>
									</div>
									<div class="span2">
										<p class="lead"><u>Tags :</u> </p>
										<a href=""><span class="label label-info">{{ marker_view.Tags }}</span></a> 
									</div>		
								</div>
							</div>	


							<div class="span10">
								 <div id="map" style="width: 820px; height: 300px;"></div>
								 <script type="text/javascript">
								 	var map = L.map('map').setView([{{ marker_view.Latitude }}, {{ marker_view.Longtitude }}], 17); 
	
									L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
											{
											maxZoom: 18,
											zoomControl: false,
											attribution: false
											}).addTo(map); // Tile layer

									var marker = L.marker([{{ marker_view.Latitude }}, {{ marker_view.Longtitude }}], {icon: L.AwesomeMarkers.icon({icon: 'building', color: 'blue', spin:false}) }).addTo(map);
										marker.bindPopup("<b>BEJ</b><br> Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry.");

									var circle = L.circle([{{ marker_view.Latitude }}, {{ marker_view.Longtitude }}], 105, {
									    color: 'red',
									    fillColor: '#f03',
									    fillOpacity: 0.2
									}).addTo(map);
								 </script>
						    	
							</div>
						</div>
					</div>		
				</div>			
	</div>
</div>

<hr>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Developed by <a href="http://firdaus.jones.dk/">firdaus</a></p>
      </div>
    </div>
</body>
</html>
