<!DOCTYPE HTML>
<html lang="id">
<head>
	<title>Aceh Maps</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- for index -->
	<meta name="description" content="Maps for Aceh area, everything we can found there, and orientate to people what want to visit" />
	<meta name="author" content="Muhammad Firdaus, fird0s">
	<meta name="keywords" content="Aceh Maps, Maps Aceh, Aceh, Aceh Location">
	
	
	<!-- Leflet config -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     		<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
 	<![endif]-->
 	
 	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

        <!--End Leaflet config-->
    	
    	<!--FONT AWESOME/ICON SETTING -->
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    	
</head>
<body>

<!--HEADER-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">BANDA MAPS</a>
      <form class="navbar-form pull-left">
        <input type="text" class="span6" placeholder="cari lokasi">
        <button class="btn btn-success" type="submit">
         <i class="icon-search icon-white"></i>
        </button>
      </form>
    <ul class="nav" style="margin-left: 10px;">
      <li><a href="{{ url_for('index') }}"><b><u>Home</u></b></a></li>	
      <li><a href="{{ url_for('about') }}"><b><u>About</u></b></a></li>
      <li><a href="{{ url_for('account') }}"><b><u>Account</u></b></a></li>
    </ul>
   </div> 
  </div>
</div>
<!--END HEADER-->

<!--START CONTENT -->
<body>

<div id="wrap"><br><br>

        <div class="container"><br>
		 	<div class="span11" style="padding: 10px;">
				<ul class="breadcrumb">
	 			        	<li><a href="{{ url_for('index')}}">Home</a> <span class="divider">/</span></li>
		  					<li><a href="{{ url_for('account')}}">View Point</a> <span class="divider">/</span></li>
		  					<li class="active">#id</li>
				</ul>
		 
				<div class="well" style="padding: 20px;">
					
					<div class="container">
		<h1>Snipp preview:</h1>				
		<div class="row">
			<div class="span12" style="margin-left: 50px;">
		
				<div class="row">
					<div class="span2">
						<p class="lead"><u>Author :</u></p>
						<p><strong>fird0s</strong></p>
						<p class="muted"><b>Snipp created on :</b> <br>
						2013-08-13 08:08:51
					</div>
				<div class="span4">
					<p class="lead"><u>Description :</u> </p>
					<p><div>Snippet used on a client website containing a simple google maps iframe and an address element - responsive</div><div><br></div></p>
				</div>
				<div class="span2">
					<p class="lead"><u>Tags :</u> </p>
					<a href=""><span class="label label-info">user interface</span></a> 
					<a href=""><span class="label label-info">maps</span></a> 	 </div>
	 
				</div>		
			</div>
		</div>

		<div classs="row">
		  	<div class="span3">
				<img src="{{ url_for('static', filename='uploads/images_markers')}}/no-image-icon.jpg"  style="width: 350px; height: 200px;" class="img-polaroid">
			</div>

			<div class="span4">
				<h2>Snail mail</h2>
				<address>
					<strong>Hythe Window Cleaning</strong><br>
					 Latitude 192.168.1.1<br>
					 Longtitude 192.168.1.1<br>
					 Location <br>
				</address><br>
			</div>				
		</div>


		<div class="span10">
	    	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
		</div>
		
	  	
		
		

	</div>
</div>

<hr>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Developed by <a href="http://firdaus.jones.dk/">firdaus</a></p>
      </div>
    </div>
</body>
</html>
